<a href="https://colab.research.google.com/github/vishal894/NLP_Projects/blob/main/multi_level_classification_text_using_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import ast

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/laxmimerit/All-CSV-ML-Data-Files-Download/master/stackoverflow.csv', index_col=0)

In [3]:
data.head()

                                                Text                Tags
2  aspnet site maps has anyone got experience cre...  ['sql', 'asp.net']
4  adding scripting functionality to net applicat...      ['c#', '.net']
5  should i use nested classes in this case i am ...             ['c++']
6  homegrown consumption of web services i have b...            ['.net']
8  automatically update version number i would li...              ['c#']

In [5]:
data['Tags'].iloc[0]

"['sql', 'asp.net']"

In [8]:
data['Tags']=data['Tags'].apply(lambda x:ast.literal_eval(x))

In [10]:
data.head()

                                                Text            Tags
2  aspnet site maps has anyone got experience cre...  [sql, asp.net]
4  adding scripting functionality to net applicat...      [c#, .net]
5  should i use nested classes in this case i am ...           [c++]
6  homegrown consumption of web services i have b...          [.net]
8  automatically update version number i would li...            [c#]

In [11]:
y = data['Tags']

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.model_selection import train_test_split

from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC

from sklearn.multiclass import OneVsRestClassifier

In [13]:
multilabel=MultiLabelBinarizer()

In [14]:
y=multilabel.fit_transform(y)

In [15]:
y

array([[0, 0, 1, ..., 0, 0, 1],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [16]:


multilabel.classes_

array(['.net', 'android', 'asp.net', 'c', 'c#', 'c++', 'css', 'html',
       'ios', 'iphone', 'java', 'javascript', 'jquery', 'mysql',
       'objective-c', 'php', 'python', 'ruby', 'ruby-on-rails', 'sql'],
      dtype=object)

In [19]:
pd.DataFrame(y, columns=multilabel.classes_)

       .net  android  asp.net  c  c#  ...  php  python  ruby  ruby-on-rails  sql
0         0        0        1  0   0  ...    0       0     0              0    1
1         1        0        0  0   1  ...    0       0     0              0    0
2         0        0        0  0   0  ...    0       0     0              0    0
3         1        0        0  0   0  ...    0       0     0              0    0
4         0        0        0  0   1  ...    0       0     0              0    0
...     ...      ...      ... ..  ..  ...  ...     ...   ...            ...  ...
48971     0        0        0  0   0  ...    0       0     0              0    0
48972     0        0        0  0   0  ...    0       0     0              0    0
48973     0        0        0  0   0  ...    0       1     0              0    0
48974     0        0        0  0   0  ...    0       1     0              0    0
48975     0        0        0  0   0  ...    0       0     0              0    0

[48976 rows x 20 columns]

In [20]:
tfidf = TfidfVectorizer(analyzer='word', max_features=10000, ngram_range=(1,3), stop_words='english')
X = tfidf.fit_transform(data['Text'])

In [21]:
X.shape, y.shape

((48976, 10000), (48976, 20))

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [26]:
sgd = SGDClassifier()
lr = LogisticRegression(random_state=0)
svc = LinearSVC()

In [24]:
def j_score(y_true, y_pred):
  jaccard = np.minimum(y_true, y_pred).sum(axis = 1)/np.maximum(y_true, y_pred).sum(axis = 1)
  return jaccard.mean()*100


def print_score(y_pred, clf):
  print("Clf: ", clf.__class__.__name__)
  print('Jacard score: {}'.format(j_score(y_test, y_pred)))
  print('----')

In [27]:
for classifier in [sgd, lr, svc]:
  clf = OneVsRestClassifier(classifier)
  clf.fit(X_train, y_train)
  y_pred = clf.predict(X_test)
  print_score(y_pred, classifier)

Clf:  SGDClassifier
Jacard score: 52.693616442085215
----

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Clf:  LogisticRegression
Jacard score: 51.1014699877501
----
Clf:  LinearSVC
Jacard score: 62.42616033755274
----

In [28]:
for classifier in [LinearSVC(C=1.5, penalty = 'l1', dual=False)]:
  clf = OneVsRestClassifier(classifier)
  clf.fit(X_train, y_train)
  y_pred = clf.predict(X_test)
  print_score(y_pred, classifier)

Clf:  LinearSVC
Jacard score: 63.876071866067775
----

In [29]:
x = [ 'how to write ml code in python and java i have data but do not know how to do it']

In [34]:
Q = tfidf.transform(x)

In [35]:

clf.predict(Q)

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0]])

In [36]:
multilabel.inverse_transform(clf.predict(Q))

[('java', 'python')]

In [38]:
Q1=['i do not know how to write ml code']

In [40]:
Q1 = tfidf.transform(Q)

In [42]:
multilabel.inverse_transform(clf.predict(Q1))

[('objective-c',)]